In [60]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('tokyo2021.csv')

In [4]:
df

,Rank,Team/NOC,Gold Medal,Silver Medal,Bronze Medal,Total,Rank by Total,NOCCode
0,1,United States of America,39,41,33,113,1,USA
1,2,People's Republic of China,38,32,18,88,2,CHN
2,3,Japan,27,14,17,58,5,JPN
3,4,Great Britain,22,21,22,65,4,GBR
4,5,ROC,20,28,23,71,3,ROC
...,...,...,...,...,...,...,...,...
88,86,Ghana,0,0,1,1,77,GHA
89,86,Grenada,0,0,1,1,77,GRN
90,86,Kuwait,0,0,1,1,77,KUW
91,86,Republic of Moldova,0,0,1,1,77,MDA
92,86,Syrian Arab Republic,0,0,1,1,77,SYR

In [7]:
## Mean
df["Gold Medal"].mean()

3.6559139784946235

In [10]:
## Median
df["Gold Medal"].median()

1.0

In [11]:
## Mode
df["Gold Medal"].mode()

0    0
dtype: int64

In [12]:
## Max Value
df["Gold Medal"].max()

39

In [15]:
## Min Value from entire frame 
df.min()
## You can be specific to
df["Gold Medal"].minx()

Rank                     1
Team/NOC         Argentina
Gold Medal               0
Silver Medal             0
Bronze Medal             0
Total                    1
Rank by Total            1
NOCCode                ARG
dtype: object

In [57]:
## Quantiles
df.quantile(1)

Rank              86.0
Gold Medal        39.0
Silver Medal      41.0
Bronze Medal      33.0
Total            113.0
Rank by Total     77.0
Name: 1, dtype: float64

In [61]:
## Interquartile function 
def iqr(column):
    return column.quantile(.75) - column.quantile(.50)

In [67]:
## Return function and median (import Numpy)
df[["Gold Medal", "Silver Medal", "Bronze Medal"]].agg([iqr, np.median])

        Gold Medal  Silver Medal  Bronze Medal
iqr            2.0           3.0           3.0
median         1.0           1.0           2.0